body{
    width:auto;
    height: auto;
    margin:0;
    background-color:#f4f6ff;
}
.modal-card{
    width:auto;
    max-width: 1000px;
}
#center_space{
    margin:auto;
    width:80%;
    display:block;
}
.center_space_1{
    margin:auto;
    width:80%;
    display:block;
}
#header_top{
    background-color: #ffcb74;
    height:auto;
}
#about{
    background-color: #ececec;
}
.top-red-line{
    background-color:#c90404;
    width:100%;
    height:4px;
    position: absolute;
}
.top-logo{
    height:70px;
    width: auto;
    margin: 8px;
}

.navbar-style{
    height:auto;
}
.card{
    min-width:340px;
    max-width: 470px;
    float:left;
    display: block;
    margin:10px;
    transition: transform .2s; 
}
.card:hover{
    transform: scale(1.1);
    z-index: 998;
}
.modal{z-index: 999;}
.modal-button{
    background:none;
    border:none;
    padding:0;
    margin:0;
    
}
.heading_h1{
    font-size:40px;
    font-weight:bold;
}

@media (max-width:1400px) and (min-width:1360px) {
    .card{
        max-width: 300px;
    }
}
@media (max-width:1650px) and (min-width:1588px) {
    .card{
        max-width: 400px;
    }
}
@media (max-width:1750px) and (min-width:1651px) {
    .card{
        max-width: 400px;
    }
}